.fondoAzul{
    background-color: blue !important;
    color: white;
}

.fondoVerde{
    background-color: green !important;
    color: white;
}

.letraGrande{
    font-size: 35px;
}

.activado{
    font-weight: bold;
    background-color: yellowgreen;
}